$color-primary: #090303;
$color-orange: #ffd73e;
$color-orange-hover:#dab435;
$color-orange-active: #ffdf33;
$color-background-gray: #F2F2F2;
$color-light: white;
$color-light-black:#252525;
$color-word-black: #171717;
$color-button-black: #484848;
$color-transp-black: rgba(23, 23, 23, 0.8);
$color-overlay: #501a04ad;
$color-red: #f15a46;
$color-disable-gray: #b1b1b1;

$content-width: 1300px;
$screen1200: 1200px;
$screen900: 900px;
$tablet-width: 768px;
$screen610: 610px;
$screen1620: 1620px;
$screen1300: 1300px;
$mobile-big-width: 500px;
$mobile-small-width: 320px;