%transition {
    transition: all .3s ease-out;
}
@font-face { 
    font-family: "Montserrat";
    src: url('../../fonts/Montserrat/static/Montserrat-Bold.ttf');
    font-weight: bold;
}
@font-face { 
    font-family: "Montserrat";
    src: url('../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
@font-face { 
    font-family: "LordOfTheRings";
    src: url('../../fonts/LordOfTheRings.TTF');
}
%font-prim {
    font-family: "Montserrat";
    
}
%font-extra {
    font-family: "LordOfTheRings";
    
}

%custom-scroll {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px grey;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
    }
}