.footer {
    background: $color-word-black;
    height: 80px;
    padding: 10px;
    @include media-tablet {
      padding: 0 10px 0 10px;
  }
}

.footer-navigation{
  align-items: center;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &__title{
    color: $color-light;
  }
 
}

.footer__link{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.6rem;
}
.person-link{
white-space: nowrap;
text-decoration: none;
color: $color-light;
font-weight: 600;
transition: .3s;
&:hover{
color: $color-orange-hover;
}
}
.logo-object{
  background-image: url("../../icons/Logo.svg");
  width: 136px;
  height: 60px;
  background-size: auto;
  background-repeat: no-repeat;
}
.footer-navigation__column{
display: block;
display: flex;
margin: 0 auto;
justify-content: center;

}
.logo-object:hover{
transition: .3s;
filter: invert(100);
}