.header {
    background: $color-primary;
    padding: 10px 0 10px 0;
    height: 80px;
    @extend %font-prim;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.logo__contact svg{
    fill: $color-light;
    &:hover {
        fill: $color-orange;
    }
    &--active{
      fill: $color-orange-active;
    }
}

.logo_telegram {
    width: 30px;
    height: 30px;
    color: $color-light;
    @include media-tablet {
        display: none;
    }
}
.logo__image {
    background-image: url("../../icons/Logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 176px;
    height: 60px;
    @include media-tablet {
        margin-left: 60px;
    }
}
.logo{
        text-decoration: none;     
}
.header__links {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: left;
    gap:20px;
    margin-left: 10%;
    flex-grow: 1;
}
.header__link {
    cursor: pointer;
    text-decoration: none;
    @extend %font-prim;
    color: $color-light;
    font-size: 22px;
    &--active{
        cursor: default;
        color: $color-orange-active;
    }
    &:hover{
        color: $color-orange-hover;
    }
}
.header__logo-line {
    display: flex;

    @include media-mobile {
        justify-content: center;
        flex-grow: 1;
        position: relative;
    }  
}

.search {
    border: none;
    &:focus {
        outline: none;
    }
}
.search__loading {
    margin: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: $color-light;
    text-align: center;
}